project:
  type: website
  output-dir: ../docs

website:
  title: "Mamma Mia Documentation"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: simulators.qmd
        text: Simulators
      - about.qmd

format:
  html:
    theme:
      - yeti
      - brand
    css: styles.css
    toc: true

editor: visual

